.memoryCard
  &-container
    background-color $bgColorMc
    width $wMcContainer
    height $hMcContainer
    position absolute
    $posCenterAuto('Left')
    top $posTopMc
    border-radius $brRadiusMc
  &-content
    position absolute
    $posCenterAuto('Left')
    top 132px
    display flex
    flex-wrap wrap
    justify-content space-between
    &.isCardEight
      width $wMcContentEight
      height $hMcContentEight
    &.isCardTwelve
      width ($wMcContentEight + 280px) // 800px
      height $hMcContentEight