.moreButton
  &-container
    position absolute
    left 10px
    bottom @left
    display flex
  &-help
  &-reset
    background-size $wMcMoreButtonContainer $wMcMoreButtonContainer
    width $wMcMoreButtonContainer
    height $wMcMoreButtonContainer
    cursor pointer
    margin-right 10px
    &:hover
      $hoverButtonGen()
  &-help
    background-image url($pathImg + 'help.svg')
  &-reset
    background-image url($pathImg + 'reset.svg')
