.typeCard
  &-container
    width $wMcModePlayButton
    height auto
    position absolute
    right -30px
    $posCenterAuto('Top')
  &-button_8
  &-button_12
    cursor pointer
    width $wMcModePlayButton
    height $wMcModePlayButton
    background-size @width @height
    &:hover
      $hoverButtonGen()
  &-button_8
    background-image url($pathImg + 'ani1.png')
    margin-bottom 50px
    &.isActive
      pointer-events none
      // background-image url($pathImg + 'ani1-active.png')
  &-button_12
    background-image url($pathImg + 'ani2.png')
    &.isActive
      pointer-events none
      // background-image url($pathImg + 'ani2-active.png')
