@font-face {
  font-family: 'VAGRoundedStd-Thin';
  src: url($pathFont + 'VAGRoundedStd-Thin.ttf') format('truetype'),
       url($pathFont + 'VAGRoundedStd-Thin.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VAGRoundedStd-Light';
  src: url($pathFont + 'VAGRoundedStd-Light.ttf') format('truetype'),
       url($pathFont + 'VAGRoundedStd-Light.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

p{
	white-space: pre-wrap;	
}