// Ruta de imagen
$pathImg = '../assets/img/'
$pathFont = '../assets/font/'

// INIT - CONTAINER
// -------------------------
$wContainer = 1024px // Container - Width
$hContainer = 768px // Container - Height
// -------------------------

// INIT - MEMORY CARD
// -------------------------
$wMcContainer = 924px // Container - Width
$hMcContainer = 600px // Container - Height
$posTopMc = 118px // Position - Top
$brRadiusMc = 18px // Border Radius
$bgColorMc = white // Background-color

$wMcContentEight = 540px // Content Width Card for Eight
$hMcContentEight = 365px // Content Height Card for Eight

$wMcModePlayButton = 64px // Width del boton Mode Play

$wMcViewModeContainer = 110px // Width del container View Mode
$hMcViewModeContainer = 80px // Height del container View Mode

$wMcMoreButtonContainer = 55px // Width para los botones Help y Reset
// -------------------------

// INIT - CARD ELEMENT
// -------------------------
$wCardContainer = 118px // Container - Width 
$hCardContainer = 162px // Container - height

$brRadiusCard = 12px // Border radius

$brSizeCardBack = 3px // Border - Width
$brColorCardBack = #f7931e

$velocityCard = 0.1s
// -------------------------

